!Makefile.am
!configure.ac

a.out
*.o
*.lo
lib*.a
lib*.la
lib*.lai
lib*.dylib
sfmt-*.tar.gz

libtool
ltmain.sh
m4/

.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
ar-lib
config.*
configure
configure.scan
compile
depcomp
install-sh
missing
stamp-h1
