SFMT-src*/*
dSFMT-src*/*
!Makefile.am

.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
ar-lib
config.*
configure
configure.scan
compile
depcomp
install-sh
missing
stamp-h1

sfmt-installer-*.tar.gz
